.git
.github
node_modules
themes/laravelmix/node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/cms/*
storage/app/uploads/*
storage/database.sqlite
.env
.env.*
!.env.example
tests
.phpunit.result.cache
README.md
themes/laravelmix/README.md
october
.tmp-theme-backup
