<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="author" content="Valnee Solutions">
<title>{{ this.page.meta_title }} | ACME by Valnee</title>
<meta property="og:title" content="{{ this.page.meta_title }} | ACME by Valnee">
<meta property="og:description" content="{{ this.page.meta_description }}">
<meta property="og:type" content="website">
<link rel="icon" type="image/svg" href="{{ 'assets/dist/images/favicon.svg'|theme }}">
{% styles %}
<link rel="stylesheet" href="{{ 'assets/dist/css/app.css'|theme }}">
