description = "Wide layout for full-bleed sections"

==
<!doctype html>
<html lang="en">
<head>
    {% partial 'site/meta' %}
</head>
<body class="font-body antialiased noise">
    <div class="flex flex-col min-h-screen">
        {% partial 'site/header' %}
        <main class="flex-grow">
            {% page %}
        </main>
        {% partial 'site/footer' %}
    </div>
    <audio id="ambient-audio" loop preload="auto" src="{{ 'assets/dist/audio/ambient.mp3'|theme }}" style="display:none"></audio>
    {% partial 'site/scripts' %}
</body>
</html>
